@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #9b703c 20%, #385773, #5F94D9);
    }

    #login {
        width: 90vw;
        height: 400px;
    }

    #login #imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: bottom center;
    }

    #login #formulario {
        float: right;
        width: 60%;
        padding: 50px 10px;
    }

    #login #formulario p {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #9b703c 20%, #385773, #5F94D9);
    }

    #login {
        width: 950px;
    }

    #login #imagem {
        float: right;
        width: 40%;
        height: 100%;
    }

    #login #formulario {
        float: left;
        width: 60%;
        padding: 100px 10px;
    }

    #formulario h1 {
        font-size: 2em;
    }

    #formulario p {
        font-size: 1.2em;
    }
}